<div class="row">
    <div class="col-md-4">
        <a class="card shadow-sm text-decoration-none" [routerLink]="'/dashboard'">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4>Dashboard</h4>
                <div>Sample of Dashboard</div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card shadow-sm text-decoration-none" [routerLink]="'/todo'">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4>Todo</h4>
                <div>Sample of Todo App</div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card shadow-sm text-decoration-none" [routerLink]="'/another'">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h4>Another...</h4>
                <div>Anything else</div>
            </div>
        </a>
    </div>
</div>
